{% macro render_kpi(kpi) %}
<div class="kpi">
    <h3>{{ kpi.name }}</h3>
    <p>{{ kpi.current_value.value }}</p>
</div>
{% endmacro %}

{% macro render_kpi_style_2(kpi) %}
<div class="col">
    <div class="card h-100 text-center shadow">
      <div class="card-body">
        <div class="display-4 text-primary mb-2">
          <i class="{{ kpi.icon }}"></i>
        </div>
        <h2 class="card-title mb-3">{{ '{0:0.2f}'.format(kpi.current_value.value) }}</h2>
        <p class="card-text text-muted">{{ kpi.title }}</p>
        <a class="modal-view link-success" data-url="{{ url_for('dashboard.kpi_history', kpi_id=kpi.id) }}" data-modal-title="KPI History - {{ kpi.title }}" title="KPI History - {{ kpi.title }}"><i class="bi-pencil-fill"></i></a>
        <a class="modal-chart link-success" data-url="{{ url_for('dashboard.kpi_history', kpi_id=kpi.id) }}?chart=true" data-modal-title="KPI History - {{ kpi.title }}" title="KPI History - {{ kpi.title }}"><i class="bi-pencil-fill"></i></a>
      </div>
    </div>
  </div>
{% endmacro %}
