{% extends 'base.html' %}

{% block content %}
<div class="card text-dark bg-light mb-3 h-100">
    <div class="card-header">
        SQLITE USERS
    </div>
    <div class="card-body">
        <table id="main_table" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Last Login At</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td style="white-space: nowrap; width:1%">{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.last_login_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}