Flask
Flask-SQLAlchemy
Flask-RQ2
Flask-WTF
Flask-Principal
Flask-Migrate
Flask-Security
Flask-APScheduler
Flask-DebugToolbar
Flask-Argon2
SQLAlchemy
python-dotenv
pandas
xlsxwriter
rq
rq-scheduler
rq-dashboard
Pillow
psycopg2-binary
gunicorn
# cx_Oracle
oracledb
